In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine  = create_engine("sqlite:///../input/soccer/database.sqlite")

In [3]:
def base_player_data():

  df_soccer_data = pd.read_sql("""
    with df_date_table as ( \
        select  m.id as match_id, \
                hta.team_api_id as home_team_id, \
                ata.team_api_id as away_team_id, \
                m.date as match_date,
                max(hta.id) as ht_id, \
                max(ata.id) as at_id \
        from Match as m \
        join Team_Attributes as hta \
        on (m.home_team_api_id = hta.team_api_id) \
        join Team_Attributes as ata \
        on (m.away_team_api_id = ata.team_api_id) \
        where (m.date > hta.date) and (m.date > ata.date) \
        group by match_id, home_team_id, away_team_id, match_date) \
    select m.id as match_id, \
      m.country_id, \
      m.league_id, \
      m.season, \
      m.stage, \
      m.date as match_date, \
      m.home_team_api_id as home_team_id, \
      m.away_team_api_id as away_team_id, \
      m.home_team_goal, \
      m.away_team_goal, \
      m.goal, \
      m.shoton, \
      m.shotoff, \
      m.foulcommit, \
      m.card, \
      m.cross, \
      m.corner, \
      m.possession, \
      m.B365H, \
      m.B365D, \
      m.B365A, \
      m.BWH, \
      m.BWD, \
      m.BWA, \
      m.IWH, \
      m.IWD, \
      m.IWA, \
      m.LBH, \
      m.LBD, \
      m.LBA, \
      m.PSH, \
      m.PSD, \
      m.PSA, \
      m.WHH, \
      m.WHD, \
      m.WHA, \
      m.SJH, \
      m.SJD, \
      m.SJA, \
      m.VCH, \
      m.VCD, \
      m.VCA, \
      m.GBH, \
      m.GBD, \
      m.GBA, \
      m.BSH, \
      m.BSD, \
      m.BSA, \
      hta.buildUpPlaySpeed as home_buildUpPlaySpeed, \
      hta.buildUpPlayPassing as home_buildUpPlayPassing, \
      hta.chanceCreationPassing as home_chanceCreationPassing, \
      hta.chanceCreationShooting as home_chanceCreationShooting, \
      hta.defencePressure as home_defencePressure, \
      hta.defenceAggression as home_defenceAggression, \
      hta.defenceTeamWidth as home_defenceTeamWidth, \
      ata.buildUpPlaySpeed as away_buildUpPlaySpeed, \
      ata.buildUpPlayPassing as away_buildUpPlayPassing, \
      ata.chanceCreationPassing as away_chanceCreationPassing, \
      ata.chanceCreationShooting as away_chanceCreationShooting, \
      ata.defencePressure as away_defencePressure, \
      ata.defenceAggression as away_defenceAggression, \
      ata.defenceTeamWidth as away_defenceTeamWidth, \
      hp1.height as hp1_height, \
      hp2.height as hp2_height, \
      hp3.height as hp3_height, \
      hp4.height as hp4_height, \
      hp5.height as hp5_height, \
      hp6.height as hp6_height, \
      hp7.height as hp7_height, \
      hp8.height as hp8_height, \
      hp9.height as hp9_height, \
      hp10.height as hp10_height, \
      hp11.height as hp11_height, \
      ap1.height as ap1_height, \
      ap2.height as ap2_height, \
      ap3.height as ap3_height, \
      ap4.height as ap4_height, \
      ap5.height as ap5_height, \
      ap6.height as ap6_height, \
      ap7.height as ap7_height, \
      ap8.height as ap8_height, \
      ap9.height as ap9_height, \
      ap10.height as ap10_height, \
      ap11.height as ap11_height, \
      hp1.weight as hp1_weight, \
      hp2.weight as hp2_weight, \
      hp3.weight as hp3_weight, \
      hp4.weight as hp4_weight, \
      hp5.weight as hp5_weight, \
      hp6.weight as hp6_weight, \
      hp7.weight as hp7_weight, \
      hp8.weight as hp8_weight, \
      hp9.weight as hp9_weight, \
      hp10.weight as hp10_weight, \
      hp11.weight as hp11_weight, \
      ap1.weight as ap1_weight, \
      ap2.weight as ap2_weight, \
      ap3.weight as ap3_weight, \
      ap4.weight as ap4_weight, \
      ap5.weight as ap5_weight, \
      ap6.weight as ap6_weight, \
      ap7.weight as ap7_weight, \
      ap8.weight as ap8_weight, \
      ap9.weight as ap9_weight, \
      ap10.weight as ap10_weight, \
      ap11.weight as ap11_weight, \
      Julianday(m.date) - JulianDay(hp1.birthday) as hp1_age, \
      Julianday(m.date) - JulianDay(hp2.birthday) as hp2_age, \
      Julianday(m.date) - JulianDay(hp3.birthday) as hp3_age, \
      Julianday(m.date) - JulianDay(hp4.birthday) as hp4_age, \
      Julianday(m.date) - JulianDay(hp5.birthday) as hp5_age, \
      Julianday(m.date) - JulianDay(hp6.birthday) as hp6_age, \
      Julianday(m.date) - JulianDay(hp7.birthday) as hp7_age, \
      Julianday(m.date) - JulianDay(hp8.birthday) as hp8_age, \
      Julianday(m.date) - JulianDay(hp9.birthday) as hp9_age, \
      Julianday(m.date) - JulianDay(hp10.birthday) as hp10_age, \
      Julianday(m.date) - JulianDay(hp11.birthday) as hp11_age, \
      Julianday(m.date) - JulianDay(ap1.birthday) as ap1_age, \
      Julianday(m.date) - JulianDay(ap2.birthday) as ap2_age, \
      Julianday(m.date) - JulianDay(ap3.birthday) as ap3_age, \
      Julianday(m.date) - JulianDay(ap4.birthday) as ap4_age, \
      Julianday(m.date) - JulianDay(ap5.birthday) as ap5_age, \
      Julianday(m.date) - JulianDay(ap6.birthday) as ap6_age, \
      Julianday(m.date) - JulianDay(ap7.birthday) as ap7_age, \
      Julianday(m.date) - JulianDay(ap8.birthday) as ap8_age, \
      Julianday(m.date) - JulianDay(ap9.birthday) as ap9_age, \
      Julianday(m.date) - JulianDay(ap10.birthday) as ap10_age, \
      Julianday(m.date) - JulianDay(ap11.birthday) as ap11_age \
    from Match as m \
      join Country as c \
      on (c.id = m.country_id) \
      join League as l \
      on (l.id = m.league_id) \
      join Team as ht \
      on (m.home_team_api_id = ht.team_api_id) \
      join Team as at \
      on (m.home_team_api_id = at.team_api_id) \
      join Team_Attributes as hta \
      on (m.home_team_api_id = hta.team_api_id) \
      join Team_Attributes as ata \
      on (m.away_team_api_id = ata.team_api_id)\
      join df_date_table as ddt \
      on (m.id = ddt.match_id AND hta.id = ddt.ht_id AND ata.id = ddt.at_id) \
      left join player as hp1 \
      on (cast(m.home_player_1 as int) = hp1.player_api_id) \
      left join player as hp2 \
      on (cast(m.home_player_2 as int) = hp2.player_api_id) \
      left join player as hp3 \
      on (cast(m.home_player_3 as int) = hp3.player_api_id) \
      left join player as hp4 \
      on (cast(m.home_player_4 as int) = hp4.player_api_id) \
      left join player as hp5
      on (cast(m.home_player_5 as int) = hp5.player_api_id) \
      left join player as hp6 \
      on (cast(m.home_player_6 as int) = hp6.player_api_id) \
      left join player as hp7 \
      on (cast(m.home_player_7 as int) = hp7.player_api_id) \
      left join player as hp8 \
      on (cast(m.home_player_8 as int) = hp8.player_api_id) \
      left join player as hp9 \
      on (cast(m.home_player_9 as int) = hp9.player_api_id) \
      left join player as hp10 \
      on (cast(m.home_player_10 as int) = hp10.player_api_id) \
      left join player as hp11 \
      on (cast(m.home_player_11 as int) = hp11.player_api_id) \
      left join player as ap1 \
      on (cast(m.away_player_1 as int) = ap1.player_api_id) \
      left join player as ap2 \
      on (cast(m.away_player_2 as int) = ap2.player_api_id) \
      left join player as ap3 \
      on (cast(m.away_player_3 as int) = ap3.player_api_id) \
      left join player as ap4 \
      on (cast(m.away_player_4 as int) = ap4.player_api_id) \
      left join player as ap5 \
      on (cast(m.away_player_5 as int) = ap5.player_api_id) \
      left join player as ap6 \
      on (cast(m.away_player_6 as int) = ap6.player_api_id) \
      left join player as ap7 \
      on (cast(m.away_player_7 as int) = ap7.player_api_id) \
      left join player as ap8 \
      on (cast(m.away_player_8 as int) = ap8.player_api_id) \
      left join player as ap9 \
      on (cast(m.away_player_9 as int) = ap9.player_api_id) \
      left join player as ap10 \
      on (cast(m.away_player_10 as int) = ap10.player_api_id) \
      left join player as ap11 \
      on (cast(m.away_player_11 as int) = ap11.player_api_id) """, engine)

  return df_soccer_data

In [4]:
df_soccer = base_player_data()

In [5]:
df_soccer

,match_id,country_id,league_id,season,stage,match_date,home_team_id,away_team_id,home_team_goal,away_team_goal,...,ap2_age,ap3_age,ap4_age,ap5_age,ap6_age,ap7_age,ap8_age,ap9_age,ap10_age,ap11_age
0,414,1,1,2009/2010,23,2010-02-24 00:00:00,9984,9986,1,0,...,NaN,9182.0,8917.0,9802.0,8699.0,10005.0,7625.0,8748.0,NaN,9803.0
1,421,1,1,2009/2010,24,2010-03-10 00:00:00,9986,9994,4,1,...,11260.0,10765.0,11707.0,10397.0,11643.0,10208.0,8860.0,10680.0,12024.0,9505.0
2,424,1,1,2009/2010,24,2010-02-24 00:00:00,9999,9987,1,1,...,9728.0,10281.0,8048.0,8162.0,10597.0,9054.0,8916.0,10298.0,8171.0,6816.0
3,434,1,1,2009/2010,26,2010-03-06 00:00:00,9986,8635,0,2,...,9644.0,10610.0,9745.0,9288.0,9334.0,8801.0,7380.0,9012.0,7971.0,8200.0
4,435,1,1,2009/2010,26,2010-03-06 00:00:00,9984,9994,4,0,...,13419.0,11256.0,10393.0,11715.0,10204.0,8856.0,10676.0,12020.0,9501.0,7364.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19344,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,10243,10191,3,3,...,11845.0,8100.0,10844.0,11260.0,10583.0,8257.0,11360.0,9419.0,12163.0,8392.0
19345,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,10190,10191,1,0,...,7736.0,11854.0,10853.0,9118.0,10592.0,8266.0,11369.0,9428.0,8391.0,8401.0
19346,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,9824,10199,1,2,...,10275.0,8960.0,11874.0,11278.0,7183.0,8258.0,8561.0,10060.0,11137.0,9754.0
19347,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,9956,10179,2,0,...,10554.0,8609.0,10842.0,9402.0,9400.0,10905.0,8117.0,12070.0,7100.0,8208.0
19348,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,10192,9931,4,3,...,8993.0,9026.0,10039.0,7940.0,8945.0,10228.0,9980.0,11970.0,9931.0,6795.0

In [6]:
def base_player_agg(df):
    height_home = list(df.columns)[62:73]
    height_away = list(df.columns)[73:84]
    weight_home = list(df.columns)[84:95]
    weight_away = list(df.columns)[95:106]
    age_home = list(df.columns)[106:117]
    age_away = list(df.columns)[117:128]
    
    home_mean_height = df[height_home].mean(axis=1)
    away_mean_height = df[height_away].mean(axis=1)
    home_mean_weight = df[weight_home].mean(axis=1)
    away_mean_weight = df[weight_away].mean(axis=1)
    home_mean_age = df[age_home].mean(axis=1)
    away_mean_age = df[age_away].mean(axis=1)

    home_std_height = df[height_home].std(axis=1)
    away_std_height = df[height_away].std(axis=1)
    home_std_weight = df[weight_home].std(axis=1)
    away_std_weight = df[weight_away].std(axis=1)
    home_std_age = df[age_home].std(axis=1)
    away_std_age = df[age_away].std(axis=1)
    
    df_player = pd.concat([home_mean_height, away_mean_height, home_mean_weight,
                away_mean_weight, home_mean_age, away_mean_age, home_std_height,
                away_std_height, home_std_weight, away_std_weight, home_std_age,
                away_std_age], axis = 1)
    
    player_cols = ['home_mean_height', 'away_mean_height', 'home_mean_weight', 'away_mean_weight',
                     'home_mean_age', 'away_mean_age', 'home_std_height', 'away_std_height',
                     'home_std_weight', 'away_std_weight', 'home_std_age', 'away_std_age']
    df_player.columns = player_cols
    
    df = pd.concat([df, df_player], axis = 1)
    
    df = df.drop(columns=height_home)
    df = df.drop(columns=height_away)
    df = df.drop(columns=weight_home)
    df = df.drop(columns=weight_away)
    df = df.drop(columns=age_home)
    df = df.drop(columns=age_away)
    
    df = df.dropna(subset=player_cols)
    
    return df

In [7]:
df_soccer = base_player_agg(df_soccer)

In [8]:
df_soccer

,match_id,country_id,league_id,season,stage,match_date,home_team_id,away_team_id,home_team_goal,away_team_goal,...,home_mean_weight,away_mean_weight,home_mean_age,away_mean_age,home_std_height,away_std_height,home_std_weight,away_std_weight,home_std_age,away_std_age
0,414,1,1,2009/2010,23,2010-02-24 00:00:00,9984,9986,1,0,...,169.181818,171.555556,10284.272727,9376.555556,5.912355,6.105400,16.588057,11.012619,1783.069886,1112.895897
1,421,1,1,2009/2010,24,2010-03-10 00:00:00,9986,9994,4,1,...,171.800000,169.090909,9012.600000,10734.272727,6.558252,6.453073,14.101221,14.686419,1183.265275,960.034384
2,424,1,1,2009/2010,24,2010-02-24 00:00:00,9999,9987,1,1,...,172.100000,168.727273,9340.600000,9034.363636,5.992821,4.008784,15.102980,12.673523,1862.088803,1164.604420
3,434,1,1,2009/2010,26,2010-03-06 00:00:00,9986,8635,0,2,...,176.000000,173.545455,8900.444444,9069.909091,4.714040,8.191254,8.500000,23.817488,908.345214,931.678212
4,435,1,1,2009/2010,26,2010-03-06 00:00:00,9984,9994,4,0,...,175.727273,170.454545,10924.636364,10584.363636,4.696035,3.782965,15.665828,11.129813,1166.567895,1635.245625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19344,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,10243,10191,3,3,...,171.000000,167.181818,9317.454545,10241.363636,6.471225,4.607779,14.359666,8.692735,1408.990870,1472.721852
19345,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,10190,10191,1,0,...,165.727273,166.363636,9189.363636,9475.454545,5.239144,5.902427,13.130810,9.426269,1530.882508,1445.940826
19346,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,9824,10199,1,2,...,170.363636,165.181818,9992.454545,9901.727273,6.462155,7.558173,8.464901,21.395412,1643.808040,1519.442404
19347,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,9956,10179,2,0,...,170.636364,169.272727,9367.909091,9830.545455,4.412720,7.480172,11.002479,13.387240,1289.499085,1794.503294
19348,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,10192,9931,4,3,...,170.636364,171.636364,9359.818182,9411.000000,6.059329,4.794909,11.083977,9.080449,1719.895626,1334.956404

In [9]:
def team_attributes_agg(df):
    build_up_home = ['home_buildUpPlaySpeed', 'home_buildUpPlayPassing', 'home_chanceCreationPassing', 'home_defencePressure']
    defense_home = ['home_defencePressure', 'home_defenceAggression', 'home_defenceTeamWidth']
    shooting_home = ['home_chanceCreationShooting']
    passing_home = ['home_buildUpPlayPassing', 'home_chanceCreationPassing']
    build_up_away = ['away_buildUpPlaySpeed', 'away_buildUpPlayPassing', 'away_chanceCreationPassing', 'away_defencePressure']
    defense_away = ['away_defencePressure', 'away_defenceAggression', 'away_defenceTeamWidth']
    shooting_away = ['away_chanceCreationShooting']
    passing_away = ['away_buildUpPlayPassing', 'away_chanceCreationPassing']
    
    home_mean_build_up = df[build_up_home].mean(axis=1)
    home_mean_defence = df[defense_home].mean(axis=1)
    home_mean_shooting = df[shooting_home].mean(axis=1)
    home_mean_passing = df[passing_home].mean(axis=1)
    away_mean_build_up = df[build_up_away].mean(axis=1)
    away_mean_defence = df[defense_away].mean(axis=1)
    away_mean_shooting = df[shooting_away].mean(axis=1)
    away_mean_passing = df[passing_away].mean(axis=1)
    
    home_std_build_up = df[build_up_home].std(axis=1)
    home_std_defence = df[defense_home].std(axis=1)
    home_std_passing = df[passing_home].std(axis=1)
    away_std_build_up = df[build_up_away].std(axis=1)
    away_std_defence = df[defense_away].std(axis=1)
    away_std_passing = df[passing_away].std(axis=1)
    
    df_team_attr = pd.concat([home_mean_build_up, home_mean_defence, home_mean_shooting, home_mean_passing,
                             away_mean_build_up, away_mean_defence, away_mean_shooting, away_mean_passing,
                             home_std_build_up, home_std_defence, home_std_passing,
                             away_std_build_up, away_std_defence, away_std_passing], axis=1)
    team_att_col = ['home_mean_build_up', 'home_mean_defence', 'home_mean_shooting', 'home_mean_passing',
                             'away_mean_build_up', 'away_mean_defence', 'away_mean_shooting', 'away_mean_passing',
                             'home_std_build_up', 'home_std_defence', 'home_std_passing',
                             'away_std_build_up', 'away_std_defence', 'away_std_passing']
    df_team_attr.columns = team_att_col
    
    df = pd.concat([df, df_team_attr], axis=1)
    
    # lists of columns overlaps, so errors should be ignored
    df = df.drop(columns=build_up_home, errors='ignore')
    df = df.drop(columns=defense_home, errors='ignore')
    df = df.drop(columns=shooting_home, errors='ignore')
    df = df.drop(columns=passing_home, errors='ignore')
    df = df.drop(columns=build_up_away, errors='ignore')
    df = df.drop(columns=defense_away, errors='ignore')
    df = df.drop(columns=shooting_away, errors='ignore')
    df = df.drop(columns=passing_away, errors='ignore')
    
    df = df.dropna(subset=team_att_col)
    
    return df

In [10]:
df_soccer=  team_attributes_agg(df_soccer)

In [11]:
df_soccer

,match_id,country_id,league_id,season,stage,match_date,home_team_id,away_team_id,home_team_goal,away_team_goal,...,away_mean_build_up,away_mean_defence,away_mean_shooting,away_mean_passing,home_std_build_up,home_std_defence,home_std_passing,away_std_build_up,away_std_defence,away_std_passing
0,414,1,1,2009/2010,23,2010-02-24 00:00:00,9984,9986,1,0,...,51.25,70.000000,60.0,47.5,16.520190,5.000000,24.748737,13.149778,0.000000,3.535534
1,421,1,1,2009/2010,24,2010-03-10 00:00:00,9986,9994,4,1,...,58.75,66.666667,50.0,55.0,13.149778,0.000000,3.535534,6.291529,2.886751,7.071068
2,424,1,1,2009/2010,24,2010-02-24 00:00:00,9999,9987,1,1,...,52.50,68.333333,60.0,47.5,7.071068,2.886751,7.071068,11.902381,2.886751,3.535534
3,434,1,1,2009/2010,26,2010-03-06 00:00:00,9986,8635,0,2,...,56.25,63.333333,60.0,52.5,13.149778,0.000000,3.535534,17.017148,11.547005,24.748737
4,435,1,1,2009/2010,26,2010-03-06 00:00:00,9984,9994,4,0,...,58.75,66.666667,50.0,55.0,16.520190,5.000000,24.748737,6.291529,2.886751,7.071068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19344,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,10243,10191,3,3,...,51.00,48.333333,66.0,49.5,7.681146,6.658328,0.707107,12.780193,4.163332,20.506097
19345,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,10190,10191,1,0,...,51.00,48.333333,66.0,49.5,6.291529,8.326664,6.363961,12.780193,4.163332,20.506097
19346,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,9824,10199,1,2,...,54.00,50.333333,66.0,52.5,8.616844,12.662280,12.727922,6.480741,2.516611,2.121320
19347,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,9956,10179,2,0,...,51.25,48.666667,53.0,49.5,8.164966,5.567764,1.414214,12.284814,4.725816,17.677670
19348,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,10192,9931,4,3,...,55.00,52.666667,54.0,56.0,10.904892,8.082904,17.677670,10.033278,5.507571,14.142136

In [12]:
df_soccer.columns.values

array(['match_id', 'country_id', 'league_id', 'season', 'stage',
       'match_date', 'home_team_id', 'away_team_id', 'home_team_goal',
       'away_team_goal', 'goal', 'shoton', 'shotoff', 'foulcommit',
       'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A',
       'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA',
       'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA',
       'home_mean_height', 'away_mean_height', 'home_mean_weight',
       'away_mean_weight', 'home_mean_age', 'away_mean_age',
       'home_std_height', 'away_std_height', 'home_std_weight',
       'away_std_weight', 'home_std_age', 'away_std_age',
       'home_mean_build_up', 'home_mean_defence', 'home_mean_shooting',
       'home_mean_passing', 'away_mean_build_up', 'away_mean_defence',
       'away_mean_shooting', 'away_mean_passing', 'home_std_build_up',
       'home_std_defence', 'home_std_passing', 'away_std_build_up',
       'away_std_defence', 'away_std_passing'], dtype=object)